@model RomaF5patioComidas.Models.Pedido

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdBebida" class="control-label"></label>
                <select asp-for="IdBebida" class="form-control" asp-items="ViewBag.bebidaMarca"></select>
            </div>
            <div class="form-group">
                <label asp-for="CantidadBebida" class="control-label"></label>
                <input asp-for="CantidadBebida" class="form-control" />
                <span asp-validation-for="CantidadBebida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idmenu" class="control-label"></label>
                <select asp-for="Idmenu" class="form-control" asp-items="ViewBag.menuDescripcion"></select>
            </div>
            <div class="form-group">
                <label asp-for="CantidadMenu" class="control-label"></label>
                <input asp-for="CantidadMenu" class="form-control" />
                <span asp-validation-for="CantidadMenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMesaNavigation" class="control-label"></label>
                <select asp-for="IdMesa" class="form-control" asp-items="ViewBag.idMesa"></select>
                @*cambie idmesa por idmesanavigation en select*@ 
            </div>        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Mesas" asp-action="Index">Finalizar Pedido</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
